@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?ggxfd6');
  src: url('fonts/icomoon.eot?ggxfd6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ggxfd6') format('truetype'),
    url('fonts/icomoon.woff?ggxfd6') format('woff'),
    url('fonts/icomoon.svg?ggxfd6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="moon-icon-"],
[class*=" moon-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon-icon {
  position: relative;
  display: inline-block;
  /* 1. 修改第一条简写 font 属性（把原 vant-icon 替换为 icomoon） */
  font: 14px / 1 icomoon;

  /* 2. 修改第二条带变量的 font 属性：
     如果你有全局的 CSS 变量，可以写成 var(--my-icon-font-family, "icomoon")；
     如果是纯本地写死，直接改成下面这样即可 */
  font: normal normal normal 14px / 1 "icomoon";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.moon-icon-display:before {
  content: "\e956";
}

.moon-icon-cloud:before {
  content: "\e9c1";
}

.moon-icon-cloud-download:before {
  content: "\e9c2";
}

.moon-icon-cloud-upload:before {
  content: "\e9c3";
}

.moon-icon-cloud-check:before {
  content: "\e9c4";
}

.moon-icon-download2:before {
  content: "\e9c5";
}

.moon-icon-upload2:before {
  content: "\e9c6";
}

.moon-icon-download3:before {
  content: "\e9c7";
}

.moon-icon-upload3:before {
  content: "\e9c8";
}

.moon-icon-point-up:before {
  content: "\ea03";
}

.moon-icon-point-right:before {
  content: "\ea04";
}

.moon-icon-point-down:before {
  content: "\ea05";
}

.moon-icon-point-left:before {
  content: "\ea06";
}

.moon-icon-loop2:before {
  content: "\ea2e";
}

.moon-icon-desktop-o:before {
  content: "\e68c";
}